//Stilos del header
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    position: absolute; 
}
.back-button{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #8145FD;
}
.basket-button{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #8145FD;;
}
//Estilos del content
ion-slides{
    top: 0;
    width: 100%;
}

ion-card{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}
.information{
    display:table;
    width: 100%;
}

.tittle{
    font-style: bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.25px;

    color: #FE805C;
}
.sub-tittle{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    
    letter-spacing: 0.25px;
    color: #000000;
}
.price{
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 0.25px;
    color: #000000;
    display:table-cell;
    width: 70%;
}
.regular-price{
    display: inline-block;
    text-decoration:line-through;
}
.normal-price{
    font-weight: bold;
    display: inline-block;
    white-space: initial;
    padding: 5px;
}
.quantity{
    width: 100%;
}
ion-select {
    width: 100%;
    justify-content: right;
    right: 0px;
}
ion-item {
    --background: #FFFFFF;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 20px;
}
.btnShop{
    height: 46px;
    padding: 20;
    background: #8145FD;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}