<app-header title="CUENTA" quantity="a"></app-header>

<ion-content>
  <ion-grid fixed>
    <div class="form">
      <h3>Dirección de envío</h3>
      <div class="txtBox">
        <ion-item>
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Pais" [(ngModel)]="data.shipping.country" ></ion-input>
        </ion-item>
        <div class="space"></div>
        <ion-item>
          <ion-icon name="map" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Provincia" [(ngModel)]="data.shipping.state" ></ion-input>
        </ion-item>
        <div class="space"></div>
        <ion-item>
          <ion-icon name="navigate" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Ciudad" [(ngModel)]="data.shipping.city"></ion-input>
        </ion-item>
        <div class="space"></div>
        <ion-item>
          <ion-icon name="locate" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Dirección" [(ngModel)]="data.shipping.address_1"></ion-input>
        </ion-item>
        <div class="space"></div>
        <ion-item>
          <ion-icon name="barcode" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Codigo postal" [(ngModel)]="data.shipping.postcode" ></ion-input>
        </ion-item>
      </div>
      <div class="buttons">
        <ion-button class="btnGuardar" (click)="saveData()" expand="block" fill="clear" shape="round">
          GUARDAR
        </ion-button>
      </div>
    </div>
  </ion-grid>
</ion-content>
